[versions]
kotlin = "1.7.20"
kotlincoroutines = "1.6.4"

dagger = "2.44"
compose = "1.2.1"
composeCompiler = "1.3.2"
accompanist = "0.27.0"
agp = "7.3.1"

[plugins]
android-app = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
dagger-hilt = { id = "com.google.dagger.hilt.android", version.ref = "dagger" }
kotlin-kapt = { id = "org.jetbrains.kotlin.kapt", version.ref = "kotlin" }

[libraries]
android-compose-ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
android-compose-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }
android-compose-runtime-core = { module = "androidx.compose.runtime:runtime", version.ref = "compose" }
android-compose-runtime-livedata = { module = "androidx.compose.runtime:runtime-livedata", version.ref = "compose" }
android-compose-foundation-core = { module = "androidx.compose.foundation:foundation", version.ref = "compose" }
android-compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout", version.ref = "compose" }
android-compose-animation = { module = "androidx.compose.animation:animation", version.ref = "compose" }

android-compose-material = "androidx.compose.material3:material3:1.0.0"

android-compose-compiler = { module = "androidx.compose.compiler:compiler", version.ref = "composeCompiler" }

android-compose-testing-core = { module = "androidx.compose.ui:ui-test", version.ref = "compose" }
android-compose-testing-junit4 = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
android-compose-testing-manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "compose" }

android-compose-accompanist-swiperefresh = { module = "com.google.accompanist:accompanist-swiperefresh", version.ref = "accompanist" }
android-compose-accompanist-navigation = { module = "com.google.accompanist:accompanist-navigation-animation", version.ref = "accompanist" }
android-compose-accompanist-insets = { module = "com.google.accompanist:accompanist-insets", version.ref = "accompanist" }
android-compose-accompanist-insetsui = { module = "com.google.accompanist:accompanist-insets-ui", version.ref = "accompanist" }
android-compose-accompanist-systemuicontroller = { module = "com.google.accompanist:accompanist-systemuicontroller", version.ref = "accompanist" }

android-compose-activity = "androidx.activity:activity-compose:1.6.1"
android-compose-navigation = "androidx.navigation:navigation-compose:2.5.2"
android-compose-constraint = "androidx.constraintlayout:constraintlayout-compose:1.0.1"
android-hilt-navigation-compose = "androidx.hilt:hilt-navigation-compose:1.0.0"


dagger-hilt-gradle = { module = "com.google.dagger:hilt-android-gradle-plugin", version.ref = "dagger" }
dagger-hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "dagger" }
dagger-hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "dagger" }

android-material = "com.google.android.material:material:1.6.1"
android-core-ktx = "androidx.core:core-ktx:1.9.0"
android-compat = "androidx.appcompat:appcompat:1.5.1"
android-activity = "androidx.activity:activity-ktx:1.6.1"
android-fragment-core = "androidx.fragment:fragment-ktx:1.5.4"
android-fragment-testing = "androidx.fragment:fragment-testing:1.5.4"

android-lifecycle-runtime = "androidx.lifecycle:lifecycle-runtime-ktx:2.5.1"
android-lifecycle-livedata = "androidx.lifecycle:lifecycle-livedata-ktx:2.5.1"
android-lifecycle-viewmodel-core = "androidx.lifecycle:lifecycle-viewmodel-ktx:2.5.1"
android-lifecycle-viewmodel-compose = "androidx.lifecycle:lifecycle-viewmodel-compose:2.5.1"

android-test-truth = "com.google.truth:truth:1.1.3"
android-test-runner = "androidx.test:runner:1.4.0"
android-test-espresso = "androidx.test.espresso:espresso-core:3.4.0"

android-coil = "io.coil-kt:coil-compose:2.2.2"

kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }

kotlin-coroutine-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlincoroutines" }
kotlin-coroutine-ui = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "kotlincoroutines" }

android-desugarJdkLibs = { group = "com.android.tools", name = "desugar_jdk_libs", version = "1.2.2" }

junit = "junit:junit:4.13.2"
robolectric = "org.robolectric:robolectric:4.9"

# Dependencies of the included build-logic
android-gradlePlugin = { group = "com.android.tools.build", name = "gradle", version.ref = "agp" }
kotlin-gradlePlugin = { group = "org.jetbrains.kotlin", name = "kotlin-gradle-plugin", version.ref = "kotlin" }

[bundles]
kotlin-android = ["kotlin-stdlib", "kotlin-coroutine-core", "kotlin-coroutine-ui"]
android-ui = [
    "android-compose-ui",
    "android-compose-compiler",
    "android-compose-tooling",
    "android-compose-runtime-core",
    "android-compose-runtime-livedata",
    "android-compose-foundation-core",
    "android-compose-foundation-layout",
    "android-compose-material",
    "android-compose-animation",
    "android-compose-activity",
    "android-compose-navigation",

    "android-hilt-navigation-compose",

    "android-material",
    "android-compat",
    "android-core-ktx",
    "android-fragment-core",
    "android-activity",

    "android-lifecycle-runtime",
    "android-lifecycle-livedata",
    "android-lifecycle-viewmodel-core",
    "android-lifecycle-viewmodel-compose",

    "android-compose-constraint",

    "android-compose-accompanist-swiperefresh",
    "android-compose-accompanist-navigation",
    "android-compose-accompanist-insets",
    "android-compose-accompanist-insetsui",
    "android-compose-accompanist-systemuicontroller",

    "android-coil"
]

test = [
    "android-test-runner",
    "android-compose-testing-core",
    "android-compose-testing-junit4",
    "robolectric",
    "junit"
]

android-test = [
    "android-test-runner",
    "android-test-espresso",

    "android-compose-testing-core",
    "android-compose-testing-junit4"
]

android-debug-test = [
    "android-fragment-testing",
    "android-compose-testing-manifest"
]
